/* Posts.css */

.pagination {
    margin-top: 20px;
    text-align: center;
  }
  
  .pagination ul {
    list-style: none;
    padding: 0;
    display: inline-block;
  }
  
  .pagination li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pagination li:hover {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
  }
  
  .pagination .active {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
  }
  
  .btn.btn-primary {
    margin: 1rem;
  }